@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

* { 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
  scroll-behavior: smooth;
  font-family: 'IBM Plex Sans KR', sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f9f9fb;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.notice {
  display: table;
  width: auto;
  margin-top: 6.4rem;
  height: auto;
}

.notice span {
  font-size: 21px;
}